<head>
  <title>Hippocampus</title>
</head>

<body>
  <div class="content">
    <div class="header">
      {{> header}}
    </div>
    <div class="main-content">
      {{> mainContent}}
    </div>
  </div>
</body>

<template name="mainContent">
  {{#ifPageIs "home"}}
    {{> home}}
  {{/ifPageIs}}
  {{#ifPageIs "about"}}
    {{> about}}
  {{/ifPageIs}}
  {{#ifPageIs "add-bite"}}
    {{> biteAdd}}
  {{/ifPageIs}}
</template>


<template name="line">
  {{#if currentUser}}
    <h3>This is your line</h3>
    {{#each userLine}}
      {{>lineBite}}
    {{/each}}
  {{/if}}
</template>

<template name="lineBite">
  <div>
    <h4>{{title}}</h4>
    {{content}}
    <br>
    {{getDate}}
    <a class="delete" href="#">Delete</a>
  </div>
</template>

<template name="hook">
  {{#if currentUser}}
    <h3> This is your hook</h3>
    {{#each userHook}}
      {{>hookBite}}
    {{/each}}
  {{/if}}
</template>

<template name="hookBite">
  <div>
    <h4>{{title}}</h4>
    {{content}}
    <br>
    {{getDate}}
    <a class="recall" href="#">Recall</a>
  </div>
</template>
