<head>
  <title>Hippocampus</title>
</head>

<body>
  <div class="content">
    <div class="header">
      {{> header}}
    </div>
    <div class="main-content">
      {{> mainContent}}
    </div>
  </div>
</body>

<template name="mainContent">
  {{#ifPageIs "home"}}
    {{> home}}
  {{/ifPageIs}}
  {{#ifPageIs "about"}}
    {{> about}}
  {{/ifPageIs}}
  {{#ifPageIs "add-bite"}}
    {{> biteAdd}}
  {{/ifPageIs}}
  {{#ifPageIs "all-bite"}}
    {{> biteAll}}
  {{/ifPageIs}}
  {{#ifPageIs "recall-bite"}}
    {{> biteRecall}}
  {{/ifPageIs}}
</template>
