<template name="home">
  {{#unless currentUser}}
    {{> signin}}
  {{/unless}}
</template>

<template name="signin">
  <div class="login-form span4 offset2">
    <h3>Login</h3>
    <form class="login-user">
      <label for="username">Username:</label><input type="text" name="username"/><br/>
      Password: <input type="password" name="password"/><br/>
      <input class="btn btn-primary" type="submit" value="Login"/>
      <div class="error"></div>
    </form>
    <a href="#" class="signup-link">Don't have a user? Create a user here!</a>
  </div>
</template>

